<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <title>Számlázás</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bills.css') }}">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="btn btn-primary" href="http://127.0.0.1:5000/bills_insert">Számla bevitele</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="btn btn-primary" href="http://127.0.0.1:5000/companies">Cégek</a>
              </li>
          </ul>
          <a class="btn btn-primary mright" href="http://127.0.0.1:5000/logout">Kijelentkezés</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row gx-5">
        <div class="datas col-sm-12 col-md-8 col-lg-6 table-responsive">
          <div class="table-responsive">
            <table class="table table-hover" id="table">
              <thead>
                <tr>
                  <th scope="col">Sorszám</th>
                  <th scope="col">Számlaszám</th>
                  <th scope="col">Megrendelő neve</th>
                  <th scope="col">Összeg</th>
                  <th scope="col">Kiállítás</th>
                  <th scope="col">Határidő</th>
                  <th scope="col">Teljesítve</th>
                </tr>
              </thead>
              <tbody>
                {% for i in range(line) %}
                  {% if userDetails[i][5]==1%}
                  <tr class="bg-success p-2 text-white"  onclick="getLine({{i+1}})">
                    <td>{{i+1}} </td>
                    <td>{{userDetails[i][0]}}</td>
                    <td>{{userDetails[i][1]}}</td>
                    <td>{{userDetails[i][2]}}</td>
                    <td>{{userDetails[i][3]}}</td>
                    <td>{{userDetails[i][4]}}</td>
                   <td>{{userDetails[i][5]}}</td>
                  </tr>
                  {% elif userDetails[i][4].strftime('%Y-%m-%d')>today and userDetails[i][5]==0 %}
                  <tr class="bg-warning p-2 text-white"  onclick="getLine({{i+1}})">
                    <td>{{i+1}}</td>
                    <td>{{userDetails[i][0]}}</td>
                    <td>{{userDetails[i][1]}}</td>
                    <td>{{userDetails[i][2]}}</td>
                    <td>{{userDetails[i][3]}}</td>
                    <td>{{userDetails[i][4]}}</td>
                    <td>{{userDetails[i][5]}}</td>
                  </tr>
                  {% elif userDetails[i][4].strftime('%Y-%m-%d') <=today and userDetails[i][5]==0 %}
                  <tr class="bg-danger p-2 text-white"  onclick="getLine({{i+1}})">
                    <td>{{i+1}}</td>
                    <td>{{userDetails[i][0]}}</td>
                    <td>{{userDetails[i][1]}}</td>
                    <td>{{userDetails[i][2]}}</td>
                    <td>{{userDetails[i][3]}}</td>
                    <td>{{userDetails[i][4]}}</td>
                    <td>{{userDetails[i][5]}}</td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="data-manupalitation col-sm-12 col-md-4 col-lg-6">
      <form id="myform" method="POST" action="/bills">
        <div class="mb-3">
            <label for="Szamlaszam" class="form-label text-white">Számlaszám</label>
            <input type="text" class="form-control" id="Szamlaszam" name="Szamlaszam">
        </div>
        <div class="mb-3">
            <label for="Megrendeloneve" class="form-label text-white">Megrendelő neve</label>
            <input type="text" class="form-control" id="Megrendeloneve" name="Megrendeloneve">
        </div>
        <div class="mb-3">
          <label for="Osszeg" class="form-label text-white">Összeg</label>
          <input type="number" class="form-control" id="Osszeg" name="Osszeg">
        </div>
        <div class="mb-3">
          <label for="Kiallitas" class="form-label text-white">Kiallitas</label>
          <input type="date" class="form-control" id="Kiallitas" name="Kiallitas">
        </div>
        <div class="mb-3">
          <label for="Hatarido" class="form-label text-white">Határidő</label>
          <input type="date" class="form-control" id="Hatarido" name="Hatarido">
        </div>
        <div class="mb-3">
          <label for="Teljesitve" class="form-label text-white">Teljesitve</label>
          <input type="checkbox" id="Teljesitve" name="Teljesitve">
        </div>
        <button type="submit" class="btn btn-primary">Frissítés</button>
      </form>
        </div>
      </div>
  </div>
  <script src="{{ url_for('static',filename='bills.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>