<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <title>Számlázás</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="btn btn-primary" href="http://127.0.0.1:5000/registration">Regisztráció</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="btn btn-primary" href="http://127.0.0.1:5000/login">Bejelentkezés</a>
              </li>
          </ul>
        </div>
      </div>
  </nav>
  <div class="introduction">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus sem eget eros lacinia pulvinar. Duis in lorem enim. Aenean aliquam lacus a augue finibus ornare eget suscipit odio. Curabitur eget condimentum nulla. In eleifend, nibh eu porta posuere, mauris ante finibus sapien, nec sollicitudin mauris nisl ac libero. Maecenas sed metus diam. Donec urna orci, vestibulum id consectetur quis, rhoncus vitae magna. In commodo sapien nec nibh gravida dapibus. In imperdiet, erat sed feugiat elementum, magna augue sagittis neque, vel condimentum magna leo a metus. Aenean diam est, bibendum a scelerisque nec, ornare a lacus. Duis a felis nulla.</p>

    <p>In sodales pretium aliquet. Nunc ac dignissim metus. Nam dictum molestie metus a tempor. In elementum maximus consectetur. Donec ultricies congue tempus. Fusce imperdiet leo ut ligula vestibulum, et consectetur nisl maximus. Vestibulum posuere nunc eget neque mattis placerat. Ut hendrerit, mi et mattis ullamcorper, risus magna posuere mi, id sodales tortor nulla vel arcu. Maecenas et semper nisi. Sed vestibulum, eros at tristique placerat, mi mi congue lectus, eu mattis arcu ipsum ac dolor. Duis ultricies mollis interdum. Etiam commodo tincidunt tincidunt.</p>

    <p>Nunc eu commodo lacus. Nunc non tellus non nulla fermentum semper et eu nisl. Sed tempor maximus justo non hendrerit. Suspendisse potenti. Sed vulputate tortor sed velit varius porta. Curabitur urna lacus, ultrices vel auctor sed, interdum eget nibh. Aenean gravida interdum mauris, at varius justo ornare a. Donec porta eu eros porta consequat. Integer eu purus sed odio vehicula ultrices. Sed molestie massa at dictum suscipit. Cras eget accumsan nunc. Donec dictum eros eu justo lacinia viverra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ac mi eu urna vehicula volutpat et id risus. Donec molestie suscipit nisl, in porttitor mauris porttitor eu.</p>

    <p>Nullam ac diam sit amet tellus finibus bibendum non volutpat erat. Suspendisse potenti. Pellentesque gravida consectetur quam sit amet dignissim. Phasellus ut interdum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget congue elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent auctor, metus a aliquet ultrices, ipsum nisl eleifend massa, at ultricies mauris nisl non tellus. Aenean ut ex nibh. Vestibulum molestie tellus eget dolor accumsan efficitur. Aenean ut purus in augue tempus volutpat. Aliquam faucibus tincidunt tortor at pellentesque. In non lacus odio. Suspendisse convallis auctor nibh, eget bibendum dolor consequat a. Nunc et eleifend ipsum. Ut quis diam dictum, commodo velit et, faucibus velit.</p>

    <p>Cras tempor erat risus, vitae varius justo gravida nec. Vivamus a orci efficitur, accumsan ligula vitae, pulvinar nisi. Suspendisse non tristique dolor. Duis at interdum diam. In auctor blandit dolor consequat porta. Donec in molestie turpis. Suspendisse iaculis interdum ultrices. Phasellus dignissim porta purus, ac mollis nunc. Maecenas sit amet tristique tellus. Donec iaculis urna in egestas sodales.</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>