<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Számlázás</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login_and_registration.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="btn btn-primary" href="http://127.0.0.1:5000/">Kezdőlap</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-primary" href="http://127.0.0.1:5000/login">Bejelentkezés</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>
        <h1 class="topic">Regisztráció</h1>
        <form id="myform" method="POST" action="/registration">
            <div class="mb-3">
                <label for="usr" class="form-label text-white">Felhasználónév</label>
                <input name="username" type="text" class="form-control" id="usr" onchange="Checker()">
            </div>
            <div class="mb-3">
                <label for="mail" class="form-label text-white">E-mail cím</label>
                <input type="email" class="form-control" id="mail" name="email" aria-describedby="emailHelp" onchange="Checker()">
            </div>
            <div class="mb-3">
                <label for="emailagain" class="form-label text-white">E-mail cím újra</label>
                <input type="email" class="form-control" id="emailagain" aria-describedby="emailHelp" onchange="Checker()">
            </div>
            <div class="mb-3">
                <label for="pswd" class="form-label text-white">Jelszó</label>
                <input type="password" class="form-control" id="pswd" name="password" onchange="Checker()">
            </div>
            <div class="mb-3">
                <label for="passwordagain" class="form-label text-white">Jelszó újra</label>
                <input type="password" class="form-control" id="passwordagain" onchange="Checker()">
            </div>
            <button id="reg" type="submit" class="btn btn-primary">Regisztráció</button>
      </form>
      <script src="{{ url_for('static',filename='registration.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>